.addBookContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputContainer {
  display: flex;
  gap: 2.12rem;
  align-items: center;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
  margin-bottom: 20px;
}

.bookTitle {
  padding: 0 1rem;
  width: 50%;
  height: 2.813rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: var(--white-two);
}

.bookTitle::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.15px;
  color: var(--very-light-pink);
}

.bookAuthor {
  padding: 0 1rem;
  width: 30%;
  height: 2.813rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: var(--white-two);
}

.bookAuthor::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.15px;
  color: var(--very-light-pink);
}

.inputButton {
  width: 20%;
  height: 2.813rem;
  border-radius: 3px;
  background-color: var(--azure);
  font-family: 'RobotoSlab', serif;
  font-size: 0.813rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--white-two);
  border: none;
}

.errorMessage {
  display: none;
}
